target/
src/main/resources/application.properties
.idea/
.idea/modules.xml
../.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
*.properties

.env
**/node_modules
package-lock.json 